@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

button.neumorphic {
  container-type: inline-size;
  aspect-ratio: 1/1;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  color: hsl(0 0% 10%);
  background: none;
  
  display: grid;
  place-content: center;
  gap: 1rem;
  
  --shadow: 
    -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
    .5rem .5rem 1rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;  
  transition: all 0.1s;
  
  &:hover, &:focus-visible {
    color: hsl(10 80% 50%);
    scale: 1.1
  }
  &:active, &.active{
    box-shadow:
      var(--shadow),
      inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
      inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
    color: hsl(10 80% 50%);
    > i { font-size: 28cqi};
    > span { font-size: 13cqi};
  }

  >i {
    font-size: 31cqi;
  }
  > span{
    font-family: "Silkscreen", sans-serif;
    font-size: 16cqi;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
  }
}

body {
  background-color: #e5e9f4;
  padding: 2rem;
  
}
h1 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 3cqi;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}
.buttons {
  display: grid;
  width: min(75rem, 100%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  gap: 2rem;
  margin-top: 2cm;
}


.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0.5em;
	background: #e5e9f4;
	right: 0;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    font-family: "Silkscreen", sans-serif;
}
    
.marquee > span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 20s linear infinite;
  font-family: "Silkscreen", sans-serif;
}

.marquee span span {
	padding-left: 2em;
	padding-right: 2em;
  font-family: "Silkscreen", sans-serif;
  
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.info{
    width: auto;
    height: auto;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
    border-radius: 2rem;
    box-shadow:   0 0 0.25rem 0.25rem #EEF1EF,
                  -1rem -1rem 1.5rem #FFFFFF,
                  1rem 1rem 1.5rem #3F5A5230,
                  -2rem -2rem 2.5rem #FFFFFF,
                  2rem 2rem 2.5rem #3F5A5230;
                  margin: auto;
                  margin-top: 2cm;
                  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                
}

a.underline-hover-effect {
    text-decoration: none;
    color: inherit;
  }
  
  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }
  
.credits {
    text-align: center;
    padding-bottom: 2em;
    font-family: "Silkscreen", sans-serif;
    text-decoration: none;
  }

  button.vip {
    container-type: inline-size;
    aspect-ratio: 1/1;
    border: 0.5rem solid transparent;
    border-radius: 2rem;
    color: hsl(0 0% 10%);
    
    background: none;
    display: grid;
    place-content: center;
    gap: 1rem;
    
    --shadow: 
      -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
      .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;  
    transition: all 0.1s;
    
    &:hover, &:focus-visible {
      color: hsl(10 80% 50%);
      scale: 1.1
    }
    &:active, &.active{
      box-shadow:
        var(--shadow),
        inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
        inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
      color: hsl(10 80% 50%);
      > i { font-size: 25cqi};
      > span { font-size: 10cqi};
    }
  
    >i {
      font-size: 25cqi;
    }
    > span{
      font-family: 'Courier New', Courier, monospace;
      font-size: 10cqi;
      
    }
  }

  .vip1 {
    display: grid;
    width: min(15rem);
    margin-inline: auto;
    margin-bottom: 2cm;
    
    gap: 2rem;
  }


.info1{
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  border-radius: 2rem;
  box-shadow:   0 0 0.25rem 0.25rem #EEF1EF,
                -1rem -1rem 1.5rem #FFFFFF,
                1rem 1rem 1.5rem #3F5A5230,
                -2rem -2rem 2.5rem #FFFFFF,
                2rem 2rem 2.5rem #3F5A5230;
                margin: auto;
                margin-top: 1cm;
}
